.form-control-container{
    display: flex;
    flex-direction: column;
    justify-content:stretch;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.form-control-registeration {
    width: 90%;
}
.form-control-login {
    width: 70%;
}
.dispBlock {
    display: block;
}
.dispNone {
    display: none;
}
.sub-heading-in-pink {
    background-color: #ffb4b4;
    color: black;
}
#upcoming-movies-title {
    margin: 0;
    text-align: center;
    padding : 5px 0;
    font-weight: 600;
}

::-webkit-scrollbar {
    width: 4px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: grey;
  }

  .movie-poster{
      height: 100%;
      width: auto;
  }
  .bottom-container{
      display: flex;
      flex-direction: row;
      justify-content: stretch;
      width: 100%;
  }
  .movie-filter-card{
      width: 30%;
      margin: 10px;
  }