.form-control-container{
    display: flex;
    flex-direction: column;
    justify-content:stretch;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.form-control-registeration {
    width: 90%;
}
.form-control-login {
    width: 70%;
}
.dispBlock {
    display: block;
}
.dispNone {
    display: none;
}
.sub-heading-in-pink {
    background-color: #ffb4b4;
    color: black;
}
#upcoming-movies-title {
    margin: 0;
    text-align: center;
    padding : 5px 0;
    font-weight: 600;
}